<mat-card class="card" *ngIf="user">

    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
      <mat-card-title> {{user.nombre_empleado }} {{user.apellidos_empleado}} </mat-card-title>
      <mat-card-subtitle>  ID: {{ user.id_empleado}}</mat-card-subtitle>


    </mat-card-header>
    <img mat-card-image  src="../../../../assets/images/defaultImagePerfil.jpg" alt="">
    <mat-card-content class="mt-3">
      <p>
        Usuario con el nombre {{user.nombre_empleado}} {{user.apellidos_empleado}} con ultimo login de: <strong class="login"> {{ user.ultimologin_empleado}} </strong>
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary mr-2 mt-3" (click)="information()">
            <i class="pi pi-eye"></i>
            
        </button>
    </mat-card-actions>
  </mat-card>