#container{
    padding: 20px;
    background-color: white;
    color: black;
    display: flex;
    width: 70%;
    margin: 0 auto;

}
#header h1{
    text-align: center;
    padding: 15px;
    font-size: 46px;

    margin-bottom: 70px !important;
}


.information{
    padding: 15px;
    margin-left: 30px;
}

.information li{
    margin-bottom: 15px;
}